<!DOCTYPE html>
<html lang="en">
<head>
	{% import "macros" as macros %}
	{{ macros::meta(
			title="Roll Lang - Help",
			description="The guide for Roll Lang an open source dice roller for tabletop games.",
			keywords="Guide Tutorial Help Dice Roller RPG Virtual Tabletop VTT",
			route="help",
			type="article"
		)
	}}
	<link rel="preload" as="image" href="/assets/macros_help.png" />
	<link rel="preload" as="image" href="/assets/macros_tab_help.png" />

	<link rel="preload" as="style" href="/css/help.css" />
	<link rel="preload" as="style" href="/css/grammer.css" />
	<link rel="preload" as="image" href="/assets/favicon.png" />

	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/help.css" />
	<link rel="stylesheet" type="text/css" href="/css/grammer.css" />
	<link rel="icon" type="image/png" href="/assets/favicon.png" />
</head>
<body>
	<script>0</script>
	<header id="header_bar">{{ macros::nav(logged_in = logged_in, display_name = display_name) }}</header>

	<article>
		<header>
			<h2>Help</h2>
			<nav>
				<ul>
					<li><a href="#quick_guide">Quick Guide</a></li>
					<li><a href="#advanced_features">Advanced Features</a></li>
					<li><a href="#formal_grammer">Formal Grammer(EBNF)</a></li>
					<li><a href="#server_api">Server API</a></li>
				</ul>
			</nav>
		</header>
		<section id="quick_guide">
			<h3>Quick Guide</h3>
			<nav>
			<ul>
				<li><a href="#rolling">Rolling</a></li>
				<li><a href="#text">Text</a></li>
				<li><a href="#inline_rolls">Inline Rolls</a></li>
				<li><a href="#inline_comments">Inline Comments</a></li>
				<li><a href="#dice">Dice</a></li>
				<li><a href="#computed_dice">Computed Dice</a></li>
				<li><a href="#dice_tooltips">Dice Tooltips</a></li>
				<li><a href="#math_operations">Math Operations</a></li>
			</ul>
			</nav>

			<h4 id="rolling">Rolling</h4>
			<p>In order for Roll Lang to under stand when to interpret your roll use the <span class="roll_example">/roll</span>
				keyword or the shorthand <span class="roll_example">/r</span>. For example if you wanted to roll 1 20
				sided dice. You would type <span class="roll_example">/roll 1d20</span>.
			</p>
			<h4 id="text">Text</h4>
			<p>It is often helpful to give your roll some context so that others know what the numbers mean.
				You can always put text before the <span class="roll_example">/roll</span> keyword and it will be
				displayed the way you typed it but Roll Lang might be confused if you put ceirtain text after your roll
				for example if you entered
				<span class="roll_example_invalid">I'm rolling 1d20 plus my modifier /roll 1d20+3 +3 is my modifier.</span>
				Roll Lang would roll 1d20 and add 6. You can let Roll Lang know you are done with your roll by using a
				backslash <span class="roll_example">\</span> after your roll like so
				<span class="roll_example">I'm rolling 1d20 plus my modifier /roll 1d20+3 \ +3 is my modifier.</span>
			</p>
			<h4 id="inline_rolls">Inline Rolls</h4>
			<p>If you want Roll Lang to print only the result of your roll instead of using the "/roll" keyword you can
				wrap your roll with <span class="roll_example">[[</span> and <span class="roll_example">]]</span>. You
				can still see the formula by hovering your mouse over the result.
			</p>
			<h4 id="inline_comments">Inline Comments</h4>
			<p>You can put comments inside your roll by using <span class="roll_example">[</span>  and
				<span class="roll_example">]</span>. Anything between these will not be interpreted by Roll Lang and
				will be printed in the formula. <span class="roll_example">/roll 1d20 + [strength modfier]3</span> would
				display <span class="roll_example">(12)+[strength modifier]3=15</span>. Inline comments can also be used
				in inline rolls.
			</p>
			<h4 id="dice">Dice</h4>
			<p>Roll Lang supports dice with at least 1 side. To roll a dice use <span class="roll_example">dN</span>
				where N is the number of sides. You can also roll more than one dice and sum the result using
				<span class="roll_example">XdN</span> where X is the number of dice. X and N must be an integer or *roll query.
			</p>
			<h4 id="computed_dice">Computed Dice</h4>
			<p>Computed dice come in 4 flavors</p>
			<ul class="bullet_list">
				<li>Computed number of dice and sides - <span class="roll_example">(</span> expression <span class="roll_example">)d(</span> expression <span class="roll_example">)</span></li>
				<li>Fixed number of dice and computed number of sides - <span class="roll_example">Xd(</span> expression <span class="roll_example">)</span></li>
				<li>One dice with computed number of sides - <span class="roll_example">d(</span> expression <span class="roll_example">)</span></li>
				<li>Computed number of dice with fixed number of sides - <span class="roll_example">(</span> expression <span class="roll_example">)dN</span></li>
			</ul>
			<p>Where N and X are an integer or *roll query. You can even have dice rolls in your expressions for computed dice.</p>
			<h4 id="dice_tooltips">Dice Tooltips</h4>
			<p>Using the same format as an inline comment you can add a tooltip to a roll. Enter the tooltip directly
				after the dice roll with no spaces like so <span class="roll_example">/r d12[great sword]</span>. The
				tooltip will display when your mouse hovers over the section of the formula that was computed for the
				dice. Try it out
				<span class="roll_example">(<span class="tooltipped">11<span class="tooltiptext">great sword</span></span>)</span>.
			</p>
			<h4 id="math_operations">Math Operations</h4>
			<p>Roll Lang supports all of the comman math operators. They are listed below from lowest to highest precedence.</p>
			<ul class="bullet_list">
				<li>Addition<span class="roll_example">+</span> and Subtraction<span class="roll_example">-</span></li>
				<li>Multiplication<span class="roll_example">*</span> and Division<span class="roll_example">/</span></li>
				<li>Power<span class="roll_example">^</span> or <span class="roll_example">**</span></li>
				<li>Unary Minus<span class="roll_example">-</span></li>
				<li>Parentheses<span class="roll_example">(</span> and <span class="roll_example">)</span></li>
			</ul>
			<p>Roll Lang also supports a hand full of other math functions.</p>
			<ul class="bullet_list">
				<li>Absolute Value <span class="roll_example">abs(</span> expression <span class="roll_example">)</span></li>
				<li>Floor <span class="roll_example">floor(</span> expression <span class="roll_example">)</span></li>
				<li>Ceiling <span class="roll_example">ceil(</span> expression <span class="roll_example">)</span></li>
				<li>Round  <span class="roll_example">round(</span> expression <span class="roll_example">)</span></li>
			</ul>
		</section>
		<hr>
		<section id="advanced_features">
			<h3>Advanced Features</h3>
			<nav>
				<ul>
					<li><a href="#roll_queries">Roll Queries</a></li>
					<li><a href="#macros">Macros</a></li>
					<li><a href="#dice_modifiers">Dice Modifiers</a></li>
				</ul>
			</nav>
			<h4 id="roll_queries">Roll Queries</h4>
			<p>Roll queries take the form <span class="roll_example">?{prompt | default}</span>. The prompt and the
				default can be any string of characters not including <span class="roll_example">|</span> or
				<span class="roll_example">}</span>. If you have more than one roll query with the same prompt then the
				prompt will only be displayed once and the users input for the first prompt will be used for all other
				roll queries with the same prompt. The default should be a valid expression but doesn't have to be. Roll
				queries can be used in most places.
			</p>
			<h4 id="macros">Macros</h4>
			<p>Macros are useful when you have actions that you preform regularly. A macro is a shortcut for some input.</P>
			<p>To use a macro from the input box enter <span class="roll_example">#macro-name</span>. If your macro's name contains spaces enter <span class="roll_example">#{macro name}</span></p>
			<p>To create a macro go to the macros tab.</p>
			<img src="/assets/macros_tab_help.png" alt="Red box around the macros tab. The 3rd tab from the right in the sidebar." />
			<p>Enter the name for your macro and the text your macro is a shortcut for.</p>
			<p>The name can be any sequence of characters not containing <span class="roll_example_invalid">}</span>.</p>
			<p>The text of your macro can be any text that you would put in the input box under the history tab.</p>
			<p>The checkbox "Add to macros bar" indicates weather there should be a shortcut to your macro just below the "clear history" button
				on the history tab.
			</p>
			<p>When you select "test macro" what ever is currently in the "macro" box will be run. You can see the results in the history tab.</p>
			<p>The "create/update" button will save the macro. You can see all saved macros in the list below.</p>
			<p>To edit an existing macro click on its name in the list. You will see the contents of "Macro Name" and "Macro" change to reflect the macro you selected.</p>
			<p>Currently Macros are saved as cookies. Make sure your browser does not delete cookies each time it is closed if you want to use your macros next time.</p>
			<img src="/assets/macros_help.png" alt="The macros tab. Three macros are in the list. A macro named both is calling macros named attack and damage." />

			<h4 id="dice_modifiers">Dice Modifiers</h4>
			<p>Dice modifiers change how the roll is preformed or how it is displayed. Not all dice modifiers can be
				used on the same roll. You can only apply one of <a href="#exploding">exploding</a>,
				<a href="#compounding">compounding</a>, or <a href="#penetrating">penetrating</a> to a roll and it must be
				the first modifier added.
			</p>
			<p>Currently <a href="#dice_tooltips">dice tooltips</a> must come after the modifiers.</p>
			<ul>
				<li>
					<h5>Comparisons</h5>
					<p>Some dice modifiers can be used with an optional comparison. The valid comparisons are listed below.</p>
					<ul class="bullet_list">
						<li>greater than - <span class="roll_example">&gt;</span></li>
						<li>greater than or equal - <span class="roll_example">&gt;=</span></li>
						<li>less than - <span class="roll_example">&lt;</span></li>
						<li>less than or equal - <span class="roll_example">&lt;=</span></li>
						<li>equal - <span class="roll_example">=</span></li>
					</ul>
				</li>
				<li>
					<h5>Exploding Dice</h5>
					<p>This modifier will roll an additional dice each time the condition for exploding is met by
						default the condition is the max roll the dice can preform for a d12 that would be 12. To make a
						roll an exploding roll add an <span class="roll_example">!</span> directly after a roll like so
						<span class="roll_example">4d10!</span></p>
					<p>By adding a comparison and a number after ! you can specify when the
						dice should explode.</p>
				</li>
				<li>
					<h5>Compounding Dice</h5>
					<p>Compounding dice is similar to exploding dice but the exploded dice are added together and
						treated as a single roll.</p>
					<p>To use this modifier add <span class="roll_example">!!</span> after a roll like so
						<span class="roll_example">4d10!!</span>.
					<p>You can also add a comparison and a number after <span class="roll_example">!!</span> to specify
						when the dice should explode.</p>
				</li>
				<li>
					<h5>Penetrating Dice</h5>
					<p>Penetrating dice is similar to exploding dice but each successive exploded dice is reduced by 1.</p>
					<p>To use this modifier add <span class="roll_example">!p</span> after a roll like so
						<span class="roll_example">4d10!p</span>.
					<p>You can also add a comparison and a number after <span class="roll_example">!p</span> to specify
						when the dice should explode.</p>
				</li>
			</ul>

			<h5>Rerolls</h5>
			<p>The reroll modifier can be used on its own or with any other modifier. To use the reroll modifier add
				<span class="roll_example">rX</span> where X is the number that should be rerolled. You can also use it
				with a comparison between <span class="roll_example">r</span> and <span class="roll_example">X</span>.
				You can also use multiple reroll modifiers like so <span class="roll_example">1d20r1r>17</span>. This
				will reroll a d20 until its roll value is not 1, 18, 19, or 20. Note that 17 is not included. If you
				want to include 17 use greater-than or equal <span class="roll_example">&gt;=</span> in place of
				<span class="roll_example">=</span>.
			</p>
		</section>
		<hr>
		<section id="formal_grammer">
			<h3>Formal Grammer(<a href="https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form">EBNF</a>)</h3>
			<ul id="productions">
				{{ macros::ebnf_production(name='roll', rules=[
					'<explicit_roll>',
					'<inline_roll>']) }}
				{{ macros::ebnf_production(name='explicit_roll', rules=[
					'("/roll" | "/r") <expression> ["\"]']) }}
				{{ macros::ebnf_production(name='inline_roll', rules=[
					'"[[" <expression> "]]"']) }}
				{{ macros::ebnf_production(name='expression', rules=[
					'<expression> ("+" | "-") <mul_div>',
					'<mul_div>']) }}
				{{ macros::ebnf_production(name='mul_div', rules=[
					'<mul_div> ("*" | "/") <power>',
					'<power>']) }}
				{{ macros::ebnf_production(name='power', rules=[
					'<unary> ("**" | "^") <power>',
					'<unary>']) }}
				{{ macros::ebnf_production(name='unary', rules=[
					'[<inline_comment>] "-" <unary>',
					'[<inline_comment>] <atom> [<inline_comment>]']) }}
				{{ macros::ebnf_production(name='atom', rules=[
					'<function>',
					'<dice>',
					'<number>',
					'<roll_query>',
					'"(" <expression> ")"']) }}
				{{ macros::ebnf_production(name='function', rules=[
					'"(" <expression> ")"']) }}
				{{ macros::ebnf_production(name='function_name', rules=[
					'"abs"', '"ceil"', '"floor"', '"round"']) }}
				{{ macros::ebnf_production(name='number', rules=[
					'<integer>', '<float>']) }}
				{{ macros::ebnf_production(name='integer', rules=[
					'{"0" | "1" | "2" | "3" | "4" | "5" | "6" | "7" | "8" | "9"}-']) }}
				{{ macros::ebnf_production(name='float', rules=[
					'<integer> "." <integer>']) }}
				{{ macros::ebnf_production(name='roll_query', rules=[
					'"?{" <any> ["|" <expression>] "}"']) }}
				{{ macros::ebnf_production(name='inline_comment', rules=[
					'"[" <any>+ "]"']) }}
				{{ macros::ebnf_production(name='dice', rules=[
					'(<normal> | <fate> | <computed>) [<modifiers>] [<inline_comment>]']) }}
				<li class="production">NOTE: &lt;modifiers&gt; is incomplete</li>
				{{ macros::ebnf_production(name='modifiers', rules=[
					'[<exploding> | <compounding>]',
					'[(<high> [<low>] | <low> [<high>])]',
					'[<critical>]', '[<successes>]']) }}
				{{ macros::ebnf_production(name='normal', rules=[
					'[<integer> | <roll_query>] "d" (<integer> | <roll_query>)']) }}
				{{ macros::ebnf_production(name='fate', rules=[
					'[<integer> | <roll_query>] "dF"']) }}
				{{ macros::ebnf_production(name='computed', rules=[
					'"(" <expression> ")" "d" "(" <expression> ")"',
					'"(" <expression> ")" "d" (<integer> | <roll_query>)',
					'[(<integer> |  <roll_query>)] "d" "(" <expression> ")"']) }}
				{{ macros::ebnf_production(name='exploding', rules=[
					'"!" [<integer> | <roll_query>]',
					'"!" <comparison_operator> (<integer> | <roll_query>)']) }}
				{{ macros::ebnf_production(name='compounding', rules=[
					'"!!" [(<integer> | <roll_query>)]',
					'"!!" <comparison_operator> (<integer> | <roll_query>)]']) }}
				{{ macros::ebnf_production(name='high', rules=[
					'("dh" | "k" | "kh") (<integer> | <roll_query>)']) }}
				{{ macros::ebnf_production(name='low', rules=[
					'("d" | "dl" | "kl") (<integer> | <roll_query>)']) }}
				{{ macros::ebnf_production(name='reroll', rules=[
					'"r" (<integer> | <roll_query>) [reroll]',
					'"r" <comparison_operator> (<integer> | <roll_query>) [reroll]']) }}
				{{ macros::ebnf_production(name='successes', rules=[
					'{<comparison_operator> (<integer> | <roll_query>)}-']) }}
				{{ macros::ebnf_production(name='critical', rules=[
					'{("cs" | "cf") [<comparison_operator>] (<integer> | <roll_query>)}-']) }}
				{{ macros::ebnf_production(name='comparison_operator', rules=['"="', '"<"', '"<="', '">"', '">="']) }}
			</ul>
		</section>

		<section id="server_api">
			<h3>Server API</h3>
			<ul>
				{{ macros::api_item(
					authorization=false,
					route="/api/player/create",
					method="POST",
					description="Create a new account.") }}
				{{ macros::api_item(
					authorization=true,
					route="/api/player/delete",
					method="POST",
					description="Delete an account.") }}
				{{ macros::api_item(
					authorization=false,
					route="/api/player/login",
					method="POST",
					description="Login to an account.") }}
				{{ macros::api_item(
					authorization=true,
					route="/api/player/logout",
					method="POST",
					description="Log out of an account") }}
			</ul>
		</section>
	</article>
</body>
</html>