<!DOCTYPE html>
<html lang="en">
<head>
	{% import "macros" as macros %}

	{{
		macros::meta(
			title="Roll Lang",
			description="Roll Lang an open source dice roller for tabletop games.",
			keywords="Dice Roller RPG Virtual Tabletop VTT",
			route="",
			type="website"
		)
	}}

	<link rel="preload" as="script" href="scripts/settings.js" />
	<link rel="preload" as="script" href="scripts/config_ids.js" />
	<link rel="preload" as="script" href="scripts/tabs.js" />
	<link rel="preload" as="script" href="scripts/history.js" />
	<link rel="preload" as="script" href="scripts/roll_lang_frontend.js" />
	<link rel="preload" as="script" href="scripts/main.js" />
	<link rel="prefetch" as="script" href="scripts/slider.js" />
	<link rel="prefetch" as="script" href="scripts/macro_table_sort.js" />

	<link rel="preload" as="style" href="css/styles.css" />
	<link rel="preload" as="style" href="css/header.css">
	<link rel="preload" as="style" href="css/play_area.css" />
	<link rel="preload" as="style" href="css/side_bar/tabs.css" />
	<link rel="preload" as="style" href="css/side_bar/history.css" />
	<link rel="prefetch" as="style" href="css/side_bar/result.css" />
	<link rel="prefetch" as="style" href="css/side_bar/character-sheet.css" />
	<link rel="prefetch" as="style" href="css/side_bar/macros.css" />
	<link rel="prefetch" as="style" href="css/side_bar/notes.css" />
	<link rel="prefetch" as="style" href="css/side_bar/tables.css" />
	<link rel="prefetch" as="style" href="css/side_bar/settings.css" />

	<link rel="preload" as="image" href="assets/svg/chat_icon.svg" />
	<link rel="preload" as="image" href="assets/svg/sheets_icon.svg" />
	<link rel="preload" as="image" href="assets/svg/macros_icon.svg" />
	<link rel="preload" as="image" href="assets/svg/gears_icon.svg" />

	<link rel="preload" as="image" href="assets/favicon.png" />

	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/play_area.css" />
	<link rel="stylesheet" type="text/css" href="css/side_bar/tabs.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/history.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/result.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/character-sheet.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/macros.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/notes.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/tables.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/settings.css">

	<link rel="icon" type="image/png" href="assets/favicon.png" />
</head>
<body id="page-container" onload="start();">
	<header id="header-bar">
		{{ macros::nav(logged_in = base.logged_in, display_name = base.display_name) }}
		<noscript>This webpage requires javascript and WebAssembly to run. Please enable javascript and if your browser
			does not support WebAssembly consider using Firefox, Chrome, Edge or Safari.
		</noscript>
	</header>

	<div id="play-area">
		<p>Play Area is Under Construction</p>
	</div>

	<div id="slider-bar">
	</div>

	<div id="side-bar">
		<ul id="tabs-header">
			<li id="tab-header-item-history" onclick="tabs.selectHistory();">
				<img src="assets/svg/chat_icon.svg" title="Chat" type="image/svg+xml" width="32" />
			</li>
			<li id="tab-header-item-character-sheets" onclick="tabs.selectCharacterSheets();">
				<img src="assets/svg/sheets_icon.svg" title="Character Sheets" type="image/svg+xml" width="32" />
			</li>
			<li id="tab-header-item-macros" onclick="tabs.selectMacros();">
				<img src="assets/svg/macros_icon.svg" title="Macros" type="image/svg+xml" width="32" />
			</li>
			<li id="tab-header-item-notes" onclick="tabs.selectNotes();">Notes</li>
			<li id="tab-header-item-tables" onclick="tabs.selectTables();">Tables</li>
			<li id="tab-header-item-settings" onclick="tabs.selectSettings();">
				<svg viewBox="0 0 64 64"
					width="32" height="32"
					preserveAspectRatio="none"
					xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

					<title>Settings</title>
					<desc>Two gears</desc>

					<defs>
						<circle id="gear-hole" r="3" cx=" 12" cy="0" />

						<mask id="gear-mask" transform="" >
							<rect x="-64" y="-64" width="128" height="128" fill="white" />
							<use xlink:href="#gear-hole" />
							<use xlink:href="#gear-hole" transform="rotate(72 0,0)" />
							<use xlink:href="#gear-hole" transform="rotate(144 0,0)" />
							<use xlink:href="#gear-hole" transform="rotate(216 0,0)" />
							<use xlink:href="#gear-hole" transform="rotate(288 0,0)" />
							<circle r="4" />
						</mask>

						<polygon id="large-spoke" points="-1,-3 4,-2 4,2 -1,3" transform="translate(18 0)" />
						<g id="large-gear-spokes">
							<use xlink:href="#large-spoke" />
							<use xlink:href="#large-spoke" transform="rotate(180 0 0)" />
						</g>

						<polygon id="small-spoke" points="-1,-3.5 6.5,-3 6.5,3 -1,3.5" transform="translate(18 0)" />
						<g id="small-gear-spokes">
							<use xlink:href="#small-spoke" />
							<use xlink:href="#small-spoke" transform="rotate(180 0 0)" />
						</g>

						<g id="large-gear" mask="url(#gear-mask)">
							<circle r="18" />
							<use xlink:href="#large-gear-spokes" />
							<use xlink:href="#large-gear-spokes" transform="rotate(72)" />
							<use xlink:href="#large-gear-spokes" transform="rotate(144)" />
							<use xlink:href="#large-gear-spokes" transform="rotate(216)" />
							<use xlink:href="#large-gear-spokes" transform="rotate(288)" />
						</g>
						<g id="small-gear" mask="url(#gear-mask)">
							<circle r="18" />
							<use xlink:href="#small-gear-spokes" />
							<use xlink:href="#small-gear-spokes" transform="rotate(72)" />
							<use xlink:href="#small-gear-spokes" transform="rotate(144)" />
							<use xlink:href="#small-gear-spokes" transform="rotate(216)" />
							<use xlink:href="#small-gear-spokes" transform="rotate(288)" />
						</g>
					</defs>


					<g transform="translate(24 40) rotate(-9)"><g>
						<use xlink:href="#large-gear" class="gear" />
					</g></g>

					<g transform="translate(48 16) rotate(9) scale(0.65 0.65)"><g>
						<use xlink:href="#small-gear" class="gear" />
					</g></g>
				</svg>
				<div style="display: none;">Settings</div>
			</li>
		</ul>

		<div id="tab-content-wrapper">
			<section id="tab-content-history" class="tab-content">

				<div id="history-controls">
					<button id="clear-history" onclick="clearHistory();">Clear History</button>
					<hr />
					<div id="macro-shortcuts">
					</div>
					<hr />
				</div>

				<div id="history-wrapper">
					<ul id="history-list">
					</ul>
				</div>

				<hr id="history-break"/>

				<form id="roll-lang-form" action="javascript:void(0);" onsubmit="run();">
					<div id="roll-lang-input-container">
						<label id="roll-lang-input-label" for="roll lang input">Input</label>
						<textarea id="roll-lang-input"
							name="roll lang input"
							placeholder="Attack roll is /roll 1d20 + [BAB]3 + [STR]3 \."
							cols="40"
							rows="4"
							onfocusin="inputFocusIn()",
							onfocusout="inputFocusOut()"></textarea>
						<input id="roll-lang-submit" type="submit" value="Run" />
					</div>
				</form>
			</section>

			<section id="tab-content-character-sheets" class="tab-content">
				<p>Character Sheets are Under Construction</p>
			</section>

			<section id="tab-content-macros" class="tab-content">
				<form id="create-macro-form"  action="javascript:void(0);" onsubmit="">
					<fieldset>
						<legend>Create or Upate a Macro</legend>
						<label id="create-macro-name-label" for="new macro name">Macro Name</label>
						<input type=text id="create-macro-name" name="new macro name" required />
						<label id="create-macro-source-label" for="create macro source">Macro</label>
						<textarea id="create-macro-source"
							name="create macro source"
							cols="28"
							rows="4"></textarea>
						<div id="create-macro-shortcut-container">
							<label for="create macro add shortcut">Add to shortcuts</label>
							<input type="checkbox" id="create-macro-add-shortcut" name="create macro add shortcut" checked />
						</div>
						<div id="create-macro-submits">
							<input type="submit" id="create-macro-submit" value="Create/Update" onclick="wasm_bindgen.handle_macro_update_create(); handleMacroSort();" />
							<input type="button" id="test-macro-submit" value="Test Macro" onclick="testMacro()"/>
						</div>
					</fieldset>
				</form>
				<div id="macros-table-container">
					<h3>Macros</h3>
					<p>Macros are saved as cookies. Make sure your browser doesn't deletes cookies after it closes or these will not be saved.</p>
					<table id="macros-table">
						<tr>
							<th><span onclick="handleSortMacrosByName();">Name</span></th>
							<th><span onclick="handleSortMacrosByShortcut();">Shortcut</span></th>
							<th>Delete</th>
						</tr>
					</table>
				</div>
			</section>

			<section id="tab-content-notes" class="tab-content">
				<p>Notes are Under Construction</p>
			</section>

			<section id="tab-content-tables" class="tab-content">
				<p>Tables are Under Construction</p>
			</section>

			<section id="tab-content-settings" class="tab-content">
				<form id="settings-theme-form" action="javascript:void(0);" onsubmit="">
					<fieldset>
						<legend>Themes</legend>
						<input type="radio" id="light-theme" name="theme" value="light_theme" />
						<label id="light-theme-label" for="light-theme">light</label>
						<input type="radio" id="dark-theme" name="theme" value="dark_theme"  />
						<label id="dark-theme-label" for="dark-theme">dark</label>
						<input type="submit" id="theme-submit" value="Save" />
					</fieldset>
				</form>
			</section>
		</div>
	</div>

	<footer id="footer-bar" class="grid-item">
		<!--
			<span>Footer</span>
			<span id="mouse-position"></span>
		-->
		<a id="jslicense" href="/about/javascript" rel="jslicense">JavaScript license information</a>
	</footer>

	<script src="scripts/settings.js"></script>
	<script src="scripts/config_ids.js"></script>
	<script src="scripts/tabs.js"></script>
	<script src="scripts/history.js"></script>
	<script src="scripts/roll_lang_frontend.js"></script>
	<script src="scripts/main.js"></script>

	<script src="scripts/slider.js" defer></script>
	<script src="scripts/macro_table_sort.js" defer></script>

	{% if login_success %}
		<script>window.alert("Successfully logged in as {{ base.display_name }}")</script>
	{% endif %}
	{% if base.logout_success %}
		<script>window.alert("Successfully logged out")</script>
	{% endif %}
</body>
</html>