<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Roll Lang</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Roll Lang an open source dice roller for tabletop games." />
	<meta name="application-name" content="Roll Lang" />
	<meta name="keyword" content="Dice Roller RPG Tabletop" />
	<meta name="author" content="Jacob Guenther" />
	<meta name="referrer" content="no-referrer" />
	<meta name="robots" content="index follow" />

	<meta property="og:title" content="Roll Lang" />
	<meta property="og:url" content="https://jacobguenther.github.io/roll_lang_demo/" />
	<meta property="og:image" content="https://jacobguenther.github.io/roll_lang_demo/favicon.png" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="An open source dice roller for tabletop games." />
	<meta property="og:locale" content="en_US" />

	<link rel="canonical" href="https://jacobguenther.github.io/roll_lang_demo" />

	<link rel="preload" as="script" href="scripts/config_ids.js" />
	<link rel="preload" as="script" href="scripts/tabs.js" />
	<link rel="preload" as="script" href="scripts/history.js" />
	<link rel="preload" as="script" href="scripts/roll_lang_frontend.js" />
	<link rel="preload" as="script" href="scripts/main.js" />
	<link rel="prefetch" as="script" href="scripts/slider.js" />
	<link rel="prefetch" as="script" href="scripts/macro_table_sort.js" />

	<link rel="preload" as="style"  href="css/styles.css" />
	<link rel="preload" as="style"  href="css/play_area.css" />
	<link rel="preload" as="style"  href="css/side_bar/tabs.css" />
	<link rel="preload" as="style"  href="css/side_bar/history.css" />
	<link rel="prefetch" as="style" href="css/side_bar/result.css" />
	<link rel="prefetch" as="style" href="css/side_bar/character-sheet.css" />
	<link rel="prefetch" as="style" href="css/side_bar/macros.css" />
	<link rel="prefetch" as="style" href="css/side_bar/tables.css" />

	<link rel="preload" as="image" href="assets/favicon.png" />

	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/play_area.css" />
	<link rel="stylesheet" type="text/css" href="css/side_bar/tabs.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/history.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/result.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/character-sheet.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/macros.css">
	<link rel="stylesheet" type="text/css" href="css/side_bar/tables.css">

	<link rel="icon" type="image/png" href="assets/favicon.png" />
</head>
<body id="page-container" onload="start();">
	<header id="header-bar">
		<nav>
			<ul id="main-nav-list">
				<li><h1>Roll Lang</h1></li>
				<li><a href="/help">Help</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		<noscript>This webpage requires javascript and WebAssembly to run. Please enable javascript and if your browser
			does not support WebAssembly consider using Firefox, Chrome, Edge or Safari.
		</noscript>
	</header>

	<div id="play-area">
		<p>Play Area is Under Construction</p>
	</div>

	<div id="slider-bar">
	</div>

	<div id="side-bar">
		<ul id="tabs-header">
			<li id="tab-header-item-history" onclick="tabs.selectHistory();">History</li>
			<li id="tab-header-item-character-sheets" onclick="tabs.selectCharacterSheets();">Character Sheets</li>
			<li id="tab-header-item-macros" onclick="tabs.selectMacros();">Macros(NEW)</li>
			<li id="tab-header-item-tables" onclick="tabs.selectTables();">Tables</li>
		</ul>

		<div id="tab-content-wrapper">
			<section id="history-tab-content" class="tab-content">

				<div id="history-controls">
					<button id="clear-history" onclick="clearHistory();">Clear History</button>
					<hr />
					<div id="macro-shortcuts">
					</div>
					<hr />
				</div>

				<div id="history-wrapper">
					<ul id="history-list">
					</ul>
				</div>

				<hr id="history-break"/>

				<form id="roll-lang-form" action="javascript:void(0);" onsubmit="run();">
					<div id="roll-lang-input-container">
						<label id="roll-lang-input-label" for="roll lang input">Input</label>
						<textarea id="roll-lang-input"
							name="roll lang input"
							placeholder="Attack roll is /roll 1d20 + [BAB]3 + [STR]3 \."
							cols="40"
							rows="4"
							onfocusin="inputFocusIn()",
							onfocusout="inputFocusOut()"></textarea>
						<input id="roll-lang-submit" type="submit" value="Run"></input>
					</div>
				</form>
			</section>

			<section id="character-sheets-tab-content" class="tab-content">
				<p>Character Sheets are Under Construction</p>
			</section>

			<section id="macros-tab-content" class="tab-content">
				<div id="create-macro-container">
					<h3>Create or Upate a Macro</h3>
					<label id="create-macro-name-label" for="new macro name">Macro Name</label>
					<input type=text id="create-macro-name" name="new macro name" />
					<label id="create-macro-source-label" for="create macro source">Macro</label>
					<textarea id="create-macro-source"
						name="create macro source"
						cols="32"
						rows="4"></textarea>
					<div id="create-macro-shortcut-container">
						<label for="create macro add shortcut">Add to shortcuts</label>
						<input type="checkbox" id="create-macro-add-shortcut" name="create macro add shortcut" checked />
					</div>
					<div id="create-macro-submits">
						<input type="button" id="create-macro-submit" value="Create/Update" onclick="wasm_bindgen.handle_macro_update_create(); handleMacroSort();" />
						<input type="button" id="test-macro-submit" value="Test Macro" onclick="testMacro()"/>
					</div>
				</div>
				<div id="macros-table-container">
					<h3>Macros</h3>
					<p>Macros are saved as cookies. Make sure your browser doesn't deletes cookies after it closes or these will not be saved.</p>
					<table id="macros-table">
						<tr>
							<th><span onclick="handleSortMacrosByName();">Name</span></th>
							<th><span onclick="handleSortMacrosByShortcut();">Shortcut</span></th>
							<th>Delete</th>
						</tr>
					</table>
				</div>
			</section>

			<section id="tables-tab-content" class="tab-content">
				<p>Tables are Under Construction</p>
			</section>
		</div>
	</div>

	<footer id="footer-bar" class="grid-item">
		<!--
			<span>Footer</span>
			<span id="mouse-position"></span>
		-->
		<a id="jslicense" href="/about/javascript" rel="jslicense">JavaScript license information</a>
	</footer>

	<script src="scripts/config_ids.js"></script>
	<script src="scripts/tabs.js"></script>
	<script src="scripts/history.js"></script>
	<script src="scripts/roll_lang_frontend.js"></script>
	<script src="scripts/main.js"></script>

	<script src="scripts/slider.js" defer></script>
	<script src="scripts/macro_table_sort.js" defer></script>
</body>
</html>