<!DOCTYPE html>
<html lang="en">
<head>
	{% import "macros" as macros %}

	{{
		macros::meta(
			title="Roll Lang - Help",
			description="Login to an account on Roll Lang an open source dice roller.",
			keywords="Login Account Dice Roller RPG Virtual Tabletop VTT",
			route="about/javascript",
			type="website"
		)
	}}

	<link rel="preload" as="style" href="/css/login.css" />
	<link rel="preload" as="image" href="/assets/favicon.png" />

	<link rel="stylesheet" type="text/css" href="/css/header.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css" />
	<link rel="icon" type="image/png" href="/assets/favicon.png" />
</head>
<body>
	<script>0</script>
	<header id="header-bar">
		{{ macros::nav(logged_in = base.logged_in, display_name = base.display_name) }}
	</header>
	{% if logged_in %}
		<p>You are already logged in.</p>
	{% else %}
		<form id="login-form" action="/login" method="POST" novalidate>
			<fieldset>
				<legend>Login</legend>
				<label id="player-name-label" for="player_name">Player Name</label>
				<input type="text" id="player_name" name="name" value="{{ name }}" required />
				<label id="password-label" for="password">Password</label>
				<input type="password" id="password" name="password" required />
				{% if login_fail %}
					<p id="error-msg">Failed to login: The username and possword do not match.</p>
				{% endif %}
				<input type="submit" id="login-submit" value="Login" />
			</fieldset>
		</form>
	{% endif %}
</body>
</html>