body {
	display: grid;

	grid-template-rows: auto auto minmax(0px, 100%);
	grid-template-columns: auto auto auto;
	grid-template-areas:
		"header_bar header_bar header_bar"
		". create_account_form .";
}
#header_bar {
	grid-area: header_bar;
}
#create_account_form {
	grid-area: create_account_form;
}
#create_account_form fieldset {
	display: grid;

	min-width: 360px;
	max-width: 600px;

	padding: 5px;

	align-items: center;

	row-gap: 5px;
	grid-template-columns: 120px auto;
	grid-template-areas:
		"player_name_label player_name"
		"email_label email"
		"password_label password"
		"password_requirements password_requirements"
		"confirm_password_lable confirm_password"
		"error_msgs error_msgs"
		"create_account_submit create_account_submit";
}
#player_name_label {
	grid-area: player_name_label;
}
#player_name {
	grid-area: player_name;
}
#email_label {
	grid-area: email_label;
}
#email {
	grid-area: email;
}
#password_label {
	grid-area: password_label;
}
#password {
	grid-area: password;
}
#password_requirements {
	grid-area: password_requirements;
	color: gray;
}
#confirm_password_lable {
	grid-area: confirm_password_label;
}
#confirm_password {
	grid-area: confirm_password;
}
#error_msgs {
	grid-area: error_msgs;
}
.error_msg {
	color: red;
}
#create_account_submit {
	grid-area: create_account_submit;
	width: auto;
	justify-self: center;
}