/* File: css/header.css */

body, h1, ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#header-bar {
	grid-area: header-bar;
	width: 100%;
	background-color: whitesmoke;
	display: flex;
	flex-direction: row;
}

#main-nav-list,
#main-nav-list li,
#main-nav-list form,
#main-nav-list h1 {
	display: inline;
}
