.roll_example, .roll_example_invalid {
	background-color: lightblue;
	border-radius: 4px;
	border: 3px solid black;
}
.roll_example_invalid {
	background-color: lightcoral;
}
.bullet_list {
	padding-left: 25px;
	list-style-type: disc;
}

body article {
	max-width: 980px;
	margin: auto;
	padding: 5px;
}

ul {
	list-style-type: none;
}
.productions {

}
.production {

}
.rules {

}
.production_rule {

}