body {
	display: grid;

	grid-template-rows: auto auto minmax(0px, 100%);
	grid-template-columns: auto auto auto;
	grid-template-areas:
		"header_bar header_bar header_bar"
		". create_account_form .";
}
#header_bar {
	grid-area: header_bar;
}
#login_form {
	grid-area: create_account_form;
}
#login_form fieldset {
	display: grid;

	min-width: 360px;
	max-width: 600px;

	padding: 5px;

	align-items: center;

	row-gap: 5px;
	grid-template-columns: 120px auto;
	grid-template-areas:
		"player_name_label player_name"
		"password_label password"
		"error_msg error_msg"
		"login_submit login_submit";
}
#player_name_label {
	grid-area: player_name_label;
}
#player_name {
	grid-area: player_name;
}
#password_label {
	grid-area: password_label;
}
#password {
	grid-area: password;
}
#error_msg {
	grid-area: error_msg;
	color: red;
}
#login_submit {
	grid-area: login_submit;
	width: auto;
	justify-self: center;
}