/* File: css/play_area.css */

#play_area {
	width: 100%;
	height: 100%;
	position: relative;
}
#play_area_canvas {
	position: absolute;
}
#play_area_under_construction {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	color: red;
}

#map_editor_container {
	z-index: 3;
	position: absolute;
	background-color: whitesmoke;
	min-width: 320px;
	max-width: 600px;
	max-height: 600px;
	resize: both;
}
#map_editor_header {
	cursor: move;
	background-color: thistle;
	width: 100%;
	height: 30px;
}
#map_editor {
	position: relative;
	overflow: auto;
	resize: both;
	min-width: 315px;
	max-width: 590px;
	min-height: 50px;
	max-height: 560px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
#map_editor li:last-child {
	margin-bottom: max(0, 100%);
}

.map_config_layer {
	display: grid;
	grid-template-columns: auto;
}