/* File: css/play_area.css */

body, nav, div
article, header, footer, section,
p, span,
form, input, label, textarea,
ul, li,
br, hr,
h1, h2, h3, h4, h5, h6,
canvas
{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
body {
	overflow: hidden;
}
div {
	display: inline-block;
}
ul {
	list-style-type: none;
}

#page_container {
	display: grid;

	height: 100vh;
	width: 100vw;

	justify-content: center;
	justify-items: center;
	align-items: stretch;

	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header_bar"
		"app_content"
		"footer_bar";
}

#header_bar {
	grid-area: header_bar;
	width: 100%;
	background-color: whitesmoke;
}

#main_nav_list {
	display: inline;
}
#main_nav_list li {
	display: inline;
}
#main_nav_list li h1 {
    display: inline;
}

#app_content {
	grid-area: app_content;
	display: grid;
	width: 100%;
	height: 100%;
	overflow: hidden;

	justify-content: left;
	justify-items: left;
	align-items: stretch;
}

#slider_bar {
	grid-area: slider_bar;
	width: 100%;
	background-color: whitesmoke;
}
#slider_bar:hover {
	background-color: royalblue;
}

#side_bar {
	grid-area: side_bar;

	display: grid;
	width: 100%;
	overflow: hidden;

	justify-content: left;
	justify-items: left;
	align-items: stretch;

	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"tabs_header"
		"tab_content_wrapper";
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:0px)  {
	#app_content {
		grid-template-columns: 100%;
		grid-template-rows: 100%;
		grid-template-areas:
			"side_bar";
	}
	#play_area {
		display: none;
	}
	#slider_bar {
		display: none;
	}
	#footer_bar {
		display: none;
	}
}

@media (min-width:600px)  {
	#app_content {
		grid-template-columns: auto 6px 320px;
		grid-template-rows: 100%;
		grid-template-areas:
			"play_area slider_bar side_bar";
	}
	#play_area {
		display: inline !important;
	}
	#slider_bar {
		display: block !important;
	}
	#footer_bar {
		background-color: whitesmoke;
		grid-area: footer_bar;

		width: 100%;
		margin-left: 5px;
		margin-right: 5px;

		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: auto;
	}
	#footer_bar * {
		margin: 0 5px 0 5px;
	}
	#footer_bar span {
		margin-left: auto;
	}
}
