#tab-content-history {
	position: relative;
	overflow: hidden;

	width: 100%;
	justify-content: center;
	justify-items: center;
	align-items: stretch;

	grid-template-columns: 100%;
	grid-template-rows: auto 1fr auto auto;
	grid-template-areas:
		"history-controls"
		"history-wrapper"
		"break"
		"input";
}
#history-controls {
	grid-area: history-controls;
	width: 100%;
	justify-self: left;
}
#macros-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#history-controls button {
	margin: 5px;
}


#history-wrapper {
	grid-area: history-wrapper;
	position: relative;
	overflow: hidden;

	width: 100%;
	height: 1fr;

	padding: 0px;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr;
	grid-template-areas: "history-list";
}
#history-list {
	grid-area: history-list;
	position: relative;
	overflow-y: scroll;

	width: 100%;
	min-height: 1fr;

	padding: 0px 5px 0px 5px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
#history-list li {
	position: relative;
	margin-bottom: 5px;
}
#history-list :nth-child(1) {
	margin-top: auto;
}
#history-list li:nth-child(even) {
	background: lightgreen;
}

#history-break {
	grid-area: break;
	width: 100%;
}


#roll-lang-input-container {
	grid-area: roll-lang-input-container;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	padding-top: 5px;
	padding-bottom: 5px;
}
#roll-lang-input {
	resize: vertical;
}
#roll-lang-input:focus {
	border: 3px solid #555;
}
#input-submit {
	padding: 5px 10px;
}