#tab_content_macros {
	padding: 5px;
	padding-right: 10px;
	grid-template-rows: auto auto minmax(0px, 100%);
	width: 360px;
	overflow-y: scroll;
}
#create_macro_form fieldset {
	display: grid;
	min-width: auto;
	max-width: 100%;
	justify-items: left;
	align-items: center;
	grid-template-columns: 110px auto;
	grid-template-rows: auto auto auto auto;
	grid-row-gap: 5px;
	grid-template-areas:
		"create_macro_title        create_macro_title"
		"create_macro_name_label   create_macro_name"
		"create_macro_source_label create_macro_source"
		"create_macro_shortcut_container create_macro_shortcut_container"
		"create_macro_submits      create_macro_submits"
		"create_macro_test_output create_macro_test_output";
}
#create_macro_form legend {
	font-weight: bold;
}
#create_macro_name_label {
	grid-area: create_macro_name_label;
}
#create_macro_name {
	grid-area: create_macro_name;
	width: fit-content;
}
#create_macro_source_label {
	grid-area: create_macro_source_label;
	align-self: baseline;
}
#create_macro_source {
	grid-area: create_macro_source;
}
#create_macro_shortcut_container {
	grid-area: create_macro_shortcut_container;
	display: flex;
	align-items: center;
}
#create_macro_submits {
	grid-area: create_macro_submits;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-self: center;
	justify-content: space-evenly;
}
#create_macro_test_output {
	grid-area: create_macro_test_output;
	width: 100%;
}


#macros_table_container {
	width: 99%;
}
#macros_table {
	width: 100%;
	border-collapse: collapse;
	background-color: whitesmoke;
}
#macros_table,
#macros_table th,
#macros_table td
{
	border: 1px solid black;
}
#macros_table th {
	padding: 0 5px 0 5px;
}
#macro_table tr:first {
	display: flex;
	width: 100%;
	justify-items: space-evenly;
}
tr:nth-child(even) {
	background-color: lightgray;
}
#macros_table tr td {
	text-align: center;
}
#macros_table tr td:first-child {
	text-align: left !important;
}