#tab-content-macros {
	padding: 5px;
	padding-right: 10px;
	grid-template-rows: auto auto;
	width: 360px;
	overflow-y: scroll;
}
#create-macro-form fieldset {
	display: grid;
	min-width: auto;
	max-width: 100%;
	justify-items: left;
	align-items: center;
	grid-template-columns: 110px auto;
	grid-template-rows: auto auto auto auto;
	grid-row-gap: 5px;
	grid-template-areas:
		"create-macro-title        create-macro-title"
		"create-macro-name-label   create-macro-name"
		"create-macro-source-label create-macro-source"
		"create-macro-shortcut-container create-macro-shortcut-container"
		"create-macro-submits      create-macro-submits";
}
#create-macro-form legend {
	font-weight: bold;
}
#create-macro-name-label {
	grid-area: create-macro-name-label;
}
#create-macro-name {
	grid-area: create-macro-name;
	width: fit-content;
}
#create-macro-source-label {
	grid-area: create-macro-source-label;
	align-self: baseline;
}
#create-macro-source {
	grid-area: create-macro-source;
}
#create-macro-shortcut-container {
	grid-area: create-macro-shortcut-container;
	display: flex;
	align-items: center;
}
#create-macro-submits {
	grid-area: create-macro-submits;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-self: center;
	justify-content: space-evenly;
}


#macros-table-container {
	width: 99%;
}
#macros-table {
	width: 100%;
	border-collapse: collapse;
	background-color: whitesmoke;
}
#macros-table,
#macros-table th,
#macros-table td
{
	border: 1px solid black;
}
#macros-table th {
	padding: 0 5px 0 5px;
}
#macro-table tr:first {
	display: flex;
	width: 100%;
	justify-items: space-evenly;
}
tr:nth-child(even) {
	background-color: lightgray;
}
#macros-table tr td {
	text-align: center;
}
#macros-table tr td:first-child {
	text-align: left !important;
}