
.tooltipped {
	position: relative;
	display: block;
	border-bottom: 1px dotted black;
}
.tooltiptext {
	visibility: collapse;
	display: none;
	width: auto;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	text-align: center;
	padding: 15px;
	border-radius: 6px;

	position: fixed;
	/*
	top: 110%;
	left: 50%;
	*/

	z-index: 10;
}
.tooltipped:hover .tooltiptext {
	visibility: visible;

	display: inline-block;
}


.tooltiptext .formula {
	background-color: black;
}
.tooltiptext .result {
	background-color: black;
}

.source {
	color: rgb(63, 63, 63);
}
.formula {
	font-weight: bold;
	background-color: wheat;
}
.basic-roll {

}
.roll-counted {

}
.roll-not-counted {
	color: gray;
}
.success-roll {
	color: greenyellow;
}
.fail-roll {

}
.critical-success-roll {
	color: green;
}
.critical-fail-roll {
	color: red;
}
.result {
	display: inline-block;
	font-weight: bold;
	background-color: lightyellow;
}