/* File: css/side_bar/tabs.css */

#tabs-header {
	grid-area: tabs-header;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px 5px 0px 5px;
	background-color: lightblue;
}
#tabs-header li {
	display: inline;
	background-color: lightgreen;
	margin: 5px 5px 0 5px;
	padding: 5px 5px 0px 5px;
	border: 1px black solid;
	border-bottom-style: none;
}
#tabs-header li:hover {
	background-color: grey !important;
}
.active-tab {
	background-color: lightblue !important;
}

#tab-content-wrapper {
	overflow: hidden;
	position: relative;

	grid-area: tab-content-wrapper;
	width: 100%;
	height: 100%;
	background-color: lightblue;
}
.tab-content {
	overflow-y: hidden;
	overflow-wrap: normal;
	display: none;
	width: 100%;
	height: 100%;
}
.active-tab-contents {
	display: grid;
}

#tab-header-item-settings svg:hover .gear{
	animation-play-state: running;
}
.gear {
	animation-name: rotate-gear;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: paused;
}
@keyframes rotate-gear {
	from {transform: none;}
	to {transform: rotate(720deg);}
}