/* File: css/side_bar/tabs.css */

#tabs_header {
	grid-area: tabs_header;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px 5px 0px 5px;
	background-color: lightblue;
}
#tabs_header li {
	display: inline;
	background-color: lightgreen;
	margin: 5px 5px 0 5px;
	padding: 5px 5px 0px 5px;
	border: 1px black solid;
	border-bottom-style: none;
}
#tabs_header li:hover {
	background-color: grey !important;
}
.active_tab {
	background-color: lightblue !important;
}

#tab_content_wrapper {
	overflow: hidden;
	position: relative;

	grid-area: tab_content_wrapper;
	width: 100%;
	height: 100%;
	background-color: lightblue;
}
.tab_content {
	overflow-y: hidden;
	overflow-wrap: normal;
	display: none;
	width: 100%;
	height: 100%;
}
.active_tab_contents {
	display: grid;
}

#tab_header_item_settings svg:hover .gear{
	animation-play-state: running;
}
.gear {
	animation-name: rotate_gear;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: paused;
}
@keyframes rotate_gear {
	from {transform: none;}
	to {transform: rotate(720deg);}
}